{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>PSA Login</title>
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="full-background">
        <nav id="shizzo">
            <div class="logo">
                <a href="/">
                    <img src='static/img/psa_singapore.png' style='width:150px' />
                </a>
            </div>
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
                <i class="fas fa-bars" style="color: white;"></i>
            </label>
            <ul>
				<li><a href="/login" style='color: white;'>Login</a></li>
				
				<li>
        </nav>
        <section id="hero" class="d-flex align-items-center">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                        data-aos="fade-up" data-aos-delay="200">
                        <h1>Analyse usage from IOTs in a smarter way</h1>
                        <br>
                        <h2 style='color: #FDFAFA;opacity: 0.8'>A Portal for Smart Building Energy Monitoring and Carbon
                            Footprint. Say hello to a smarter way of energy consumption tracking.</h2>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                        <img src="static/icons/hero-img.png" class="img-fluid animated" alt="">
                    </div>
                </div>
            </div>

        </section>
    </div>


    <script language="javascript">
        function check(form)/*function to check userid & password*/ {
            /*the following code checkes whether the entered userid and password are matching*/
            if (form.userid.value == "admin1" && form.pswrd.value == "admin1") {
                window.open('/home')/*opens the target page while Id & password matches*/
            }
            else {
                alert("Error Password or Username")/*displays error message*/
            }
        }
    </script>

</body>



</html>